<footer class="site-footer"><div class="container"><div class="row"><div class="col-lg-4 col-12 me-auto"><em class="text-white d-block mb-4">{{ section.content.text.text_0 }}
</em>
<strong class="text-white"><i class="bi-geo-alt me-2"></i>
{{ section.content.text.text_1 }}
</strong>
<ul class="social-icon mt-4"><li class="social-icon-item"><a href="{{ section.content.links.link_2 }}" target="_blank" class="social-icon-link"><i class="fab fa-facebook"></i>
</a>
</li>
<li class="social-icon-item"><a href="{{ section.content.links.link_2 }}" target="_blank" class="social-icon-link"><i class="fab fa-instagram"></i>
</a>
</li>
<li class="social-icon-item"><a href="{{ section.content.links.link_2 }}" target="_blank" class="social-icon-link"><i class="fab fa-twitter"></i>
</a>
</li>
<li class="social-icon-item"><a href="{{ section.content.links.link_2 }}" target="_blank" class="social-icon-link"><i class="fab fa-snapchat"></i>
</a>
</li>
<li class="social-icon-item"><a href="{{ section.content.links.link_2 }}" target="_blank" class="social-icon-link"><i class="fab fa-whatsapp"></i>
</a>
</li>
</ul>
</div>
<div class="col-lg-3 col-12 mt-4 mb-3 mt-lg-0 mb-lg-0"><em class="text-white d-block mb-4">{{ section.content.text.text_2 }}
</em>
<p class="d-flex mb-1"><strong class="me-2">{{ section.content.text.text_3 }}
</strong>
<a href="{{ section.content.links.link_4 }}" class="site-footer-link">{{ section.content.text.text_4 }}
</a>
</p>
<p class="d-flex"><strong class="me-2">{{ section.content.text.text_5 }}
</strong>
<a href="{{ section.content.links.link_6 }}" class="site-footer-link">{{ section.content.text.text_6 }}
</a>
</p>
</div>
<div class="col-lg-5 col-12"><em class="text-white d-block mb-4">{{ section.content.text.text_7 }}
</em>
<ul class="opening-hours-list"><li class="d-flex">{{ section.content.text.text_8 }}
<span class="underline"></span>
<strong>{{ section.content.text.text_9 }}
</strong>
</li>
<li class="d-flex">{{ section.content.text.text_10 }}
<span class="underline"></span>
<strong>{{ section.content.text.text_11 }}
</strong>
</li>
<li class="d-flex">{{ section.content.text.text_12 }}
<span class="underline"></span>
<strong>{{ section.content.text.text_13 }}
</strong>
</li>
</ul>
</div>
<div class="col-lg-8 col-12 mt-4"><p class="copyright-text mb-0">{{ section.content.text.text_14 }}
<a rel="sponsored" href="{{ section.content.links.link_15 }}" target="_blank">{{ section.content.text.text_15 }}
</a>
</p>
</div>
</div>
</div>
</footer>
