<section class="about section-padding" id="section_1"><div class="container"><div class="row"><div class="col-lg-6 col-12 mb-5 mb-lg-0"><div class="about-image-wrap h-100"><img src="{{ section.content.images.image_0 }}" class="about-image" alt=""></img>
<div class="about-image-info"><h4 class="text-white">{{ section.content.text.text_0 }}
</h4>
<p class="text-white mb-0">{{ section.content.text.text_1 }}
</p>
</div>
</div>
</div>
<div class="col-lg-6 col-12"><div class="about-thumb bg-white shadow-lg"><div class="about-info"><small class="small-title"><strong class="text-warning">{{ section.content.text.text_2 }}
</strong>
</small>
<h2 class="mb-3">{{ section.content.text.text_3 }}
</h2>
<p>{{ section.content.text.text_4 }}
</p>
<a class="btn btn-dark" href="{{ section.content.links.link_5 }}">{{ section.content.text.text_5 }}
</a>
</div>
</div>
</div>
</div>
</div>
</section>
